$color: #000000;
$color1: #999999;
$fontsizenav: 18px;
$fontsizeh1: 32px;
$fontssizep: 14px;
$colorbtn: #222222;
$colorbtntext: #ffffff;
$borderradius: 5px;
$font-size-btn: 18px;
$displayi-block: inline-block;
$bordercolor: #cccccc;
$font-sizeh3: 23px;
$color2: #666666;
$font-size-box-p: 15px;
$font-size-h2: 30px;
$wrapperbg: #e5e5e5;
$font-size-cl: 30px;
$font-size-clp: 15px;
$font-size-h5: 18px;
$colorcopyr: #ca1f1f;
$colorh:#7e90a3;
$text:#f2f5f7;
$b:#506a85;
$textalign:center;
$margintop:5rem;
$width:300px;
$widthimg:130px;
